Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@ingwilflores 
ju4nj0se
/
my-app
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
my-app/.gitignore
@ju4nj0se
ju4nj0se first commit
Latest commit b7f5fe0 20 hours ago
 History
 1 contributor
42 lines (36 sloc)  548 Bytes

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
You have no unread notifications