<p></p>
<h5>Lista de planes de entrega</h5>
<button class="btn btn-success" [routerLink]="'/add-plan'">+ Agregar</button>
<p></p>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.idPlan}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Cliente">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.idCliente.nombres}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="NumeroGuia">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Numero de Guia </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.numeroGuia}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Cantidad">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.cantidad}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="PrecioEnvio">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Precio de Envio </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.precioEnvio}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="FechaEntrega">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Entrega </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.fechaEntrega}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Acciones">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let row; let i = index " class="sec-acciones"> 
        <section >
          <div class="example-button-row">
            <button [routerLink]="['/edit-plan',row.idPlan]" mat-raised-button color="primary">Editar</button>
            <button (click)= "delete(row, i)" mat-raised-button color="warn">Eliminar</button>
          </div>
        </section>
      </mat-cell>
    </ng-container>
    
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; let i = index; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" [length]="1000"></mat-paginator>
</div>